
.botton_style {
    background-color: midnightblue;
    color: fuchsia;
    border-radius: 30px;
}

.login_style {
    background-color: lightblue;
    color: black;

}
.Gradiance{
    background-color: black;
    color:#EEB142;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-family: sans-serif;
}

.background-area{
    background-color: rgb(247, 247, 247);
}
.collapse.width {
    width: 0;

    overflow: hidden;
    transition: width ,35s ease;
}
.collapse.width.show {
    width:100%;
}
.queue-col{
    background-color: rgb(39, 39, 39);
}
.info-row{
    background-color: rgb(255, 255, 255);
}
.question-row{
    background-color: rgb(255, 255, 255);
}

.nav-tabs .nav-link.active {
  background-color: inherit;    /* will pick up the row’s bg */
  color: inherit;               /* match the text color of its parent */
  border-color: transparent;    /* remove that white bottom border */
}
.h-20 {
    height:20%;
}
.h-80{
    height:80%;
}

#studentQueue {
    padding-left: 10px;
    padding-right: 10px;
}


#studentQueue .card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    overflow-wrap: break-word;
}
