 body, html {
      height: 100%;
}

.main-container {
     height: calc(100vh - 56px); /* subtract navbar height */
}
.question-area-container{
      height: 100%;
}

.scrollable-list{
      max-height: 100%;
}
.question-container{
      height: 100%;
      width: 100%;
      min-height: 0;
}
.queue-container{
      height: 100%;
      width: 100%;
      min-height: 0;
}
.question-display-container{
      height:100%
}

.h-60{
      height:60%;
}
.h-40{
      height:40%;
}